#searchBar{
    height: 30px;
    width: 300px;
    border-radius: 20px;
}

.searchContainer{
    width: 98%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px 0px #00000055;
}